<!--reusable view components reside here as 'partials'-->

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			stats
		</h3>		
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 text-left">images:</div>
			<div class="col-sm-10 text-right">{{sidebar.stats.images}}</div>			
		</div>
		<div class="row">
			<div class="col-md-2 text-left">comments...</div>
			<div class="col-sm-10 text-right">{{sidebar.stats.comments}}</div>
		</div>
		<div class="row">
			<div class="col-md-2 text-left">views</div>
			<div class="col-sm-10 text-right">{{sidebar.stats.views}}</div>
		</div>
		<div class="row">
			<div class="col-md-2 text-left">likes</div>
			<div class="col-sm-10 text-right">{{sidebar.stats.likes}}</div>
		</div>		
	</div>	
</div>

